<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Another TACO!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">HOME</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href="/dashboard">DASHBOARD</a>
                <button id="logOut" class="btn-no-style logOut">Log Out</button>
                {{else}}
                <a href="/login">Log In</a>
                {{/if}}
            </nav>
        </header>
        <div class="siteRow">
            <div class="siteName">
                <h1>Not Another TACO!</h1>
            </div>
        </div>
        <main>
            {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="/public/js/logout.js"></script>
    {{/if}}
</body>

</html>