<a href="/dashboard" class="goBack"> &lArr; Back to dashboard</a>

<article class="newPage">
    <section class="newForm">
        <div class="formHeading">
            <h2>Create a New TACO Blog Post</h2>
        </div>
        <div class="formSection">
            <form class="newPost">
                <div class="postTitleDiv">
                    <label for="postTitle">Title of taco Post</label>
                    <input type="text" id="postTitle" name="postTitle" />
                </div>
                <div class="postContent">
                    <label for="postContent">Blog Post Taco</label>
                    <textarea class="postEntry" id="postContent" name="postContent"></textarea>
                </div>
                <button type="submit" class="newPostBtn">click for taco.. or submit</button>
            </form>
        </div>
    </section>
</article>

<script src="/public/js/add-post.js"></script>