<section class="loginPage">
    <div class="heading">
        <h1>Log In to Your Account</h1>
    </div>
    <div class="formSection">
        <form class="loginForm">
            <div>
                <label for="usernameLogIn">Username:</label>
                <input type="text" class="entryField" id="usernameLogIn" />
            </div>
            <div>
                <label for="passwordLogIn">Passord:</label>
                <input type="password" class="entryField" id="passwordLogIn" />
            </div>
            <div>
                <button type="submit" class="logInBtn">Log In!</button>
            </div>
        </form>
    </div>

    <p>If you do not have an account, click </p><a href="/signup" class="signUpLink">here</a> to sign up! ... for a Taco</p>
</section>

<script src="/public/js/login.js"></script>