<section class="signUp">
    <div class="formHeading">
        <h1>Sign Up for an Account</h1>
    </div>
    <div class="formSection">
        <form class="signUpForm">
            <div>
                <label for="usernameSignUp">Enter a Username:</label>
                <input type="text" class="entryField" id="usernameSignUp" />
            </div>
            <div>
                <label for="passwordSignUp">Enter a Password:</label>
                <input type="password" class="entryField" id="passwordSignUp" />
            </div>
            <div>
                <button type="submit" class="signUpBtn">Sign Up!</button>
            </div>
        </form>
    </div>

    <p>Click <a href="/login" class="logInLink">here</a> to log in instead.. you already had your Taco</p>
</section>

<script src="/public/js/signup.js"></script>